.card.h-100
  .card-body.text-center
    %h6.card-title.text-muted
      %i.text-primary.text-opacity-50{class: icon_name}
      %span.ms-2.text-opacity-50= titulo

    .col-12.mb-3.border-bottom

    %h3.mb-0= valor
